<launch>
     <param name="topic_name" value="chatter"/>
     <param name="foreign_ip"  value="192.168.0.12"/>
     <param name="foreign_port"  value="11311"/>
     <param name="connectCheck_Hz"  value="200"/>
     <param name="msgsFrequency_Hz"  value="10" />
  <node name="intercom2" pkg="intercom2" type="intercom2" output="screen">
    </node>
</launch>
