<launch>
  
  <arg name="mapfile" default="$(find robot_simulator)/map/map.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server"  args="$(arg mapfile)" respawn="true"/>

  <node pkg="map_server" type="map_server" name="traversability_map_server"  args="$(arg mapfile)">
    <param name="frame_id " value="/map"/>
  </node>


</launch>
